/* Código CSS */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}

body {
  /* Defini a Altura do elemento body */
  min-height: 100vh;
  background: linear-gradient(
    90deg,
    rgba(215, 43, 158) 0%,
    rgba(212, 59, 43)
  );
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Estilizando o Container. Obs: "container" é o nome usado no codigo HTML */
.container {
  border: 3px outset purple;
  padding: 40px 20px;
  width: 80%;
  max-width: 800px;
  border-radius: 10px;
}

/* Primeiro container -> Input */
.new-task-container {
  background-color: white;
  padding: 30px 20px;
  border-radius: 10px;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
  display: flex;
}

/* Container do "Add the Task Here" */
/* Poderia ser usado .new-task-input {} */
.new-task-container input {
  flex: 3;
  font-size: 1rem;
  border: 1px solid gray;
  border-radius: 10px;
  padding: 12px;
  font-weight: 500;
  cursor: pointer;
}

/* Foco do Container do "Add the Task Here" quando há o click */
.new-task-input:focus {
  outline: none;
  border-color: green;
}

.new-task-input::placeholder {
  color: green;
}

/* Button "Add" do Input */
.new-task-button {
  flex: 1;
  font-size: 1rem;
  border: none;
  border-radius: 10px;
  font-weight: 500;
  height: 100%;
  background-color: green;
  color: white;
  padding: 12px;
  margin-left: 12px;
  cursor: pointer;
}

/* Container em que ficará as tasks criadas */
.task-container {
  background-color: white;
  padding: 30px 20px;
  margin-top: 20px;
  border-radius: 10px;
  box-shadow: 0 15px 30px, rgba(0, 0, 0, 0.3);
  width: 100%;
}

/* Texto do parágrafo */
.task-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 6px;
  margin-top: 6px;
  color: rgba(215, 43, 158);
}

/* Estilizando o delete button */
.task-item i {
  background-color: green;
  color: white;
  padding: 8px;
  border-radius: 5px;
  cursor: pointer;
}

.task-on {
  cursor: pointer;
}

/* Estilizando o taskContent */
.task-on::before {
  content: "\25CF";
  display: inline-block;
  margin-right: 5px;
  cursor: pointer;
}

/* Utilities */

/* Usando !important para dar prioridade a regra */
.error {
  border: 1px solid red !important;
}

/* Fazendo com que o placeholder também fique vermelho caso aconteça erro na validação */
.error::placeholder {
  color: red;
}

/* Personalizando classe completed  */
.completed {
  text-decoration: line-through;
}

/* Personalizando ícone para tarefa concluída */
.completed::before {
  content: "\25CF";
  display: inline-block;
  margin-right: 5px;
  color: green;
}

@media only screen and (max-width: 1000px) {
  .container {
    width: 80%;
    max-width: none;
  }

  .new-task-container {
    flex-direction: row;
    align-items: center;
  }

  .new-task-button {
    width: auto;
    margin-left: 20px;
    margin-top: 10px;
  }
}

@media only screen and (max-width: 700px) {
  .container {
    width: 80%;
    max-width: none;
  }

  .new-task-container {
    padding: 20px;
    width: 100%;
    max-width: none;
    flex-direction: column;
  }

  .new-task-container input {
    width: 100%;
    margin-bottom: 10px;
  }

  .new-task-button {
    width: 100%;
    margin-left: 0;
  }
}
